distrib
packages
native/*/work*
cross/*/work*
kernel/*/work*
spk/*/work*
diyspk/*/work*
toolchains/*/work*
local.mk
*.DS_Store
*~
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/spksrc.iml
.idea/vcs.xml
.idea/workspace.xml
